<header class="container site-header mb-3 border-bottom">
  <nav class="font-weight-bold navbar navbar-expand-lg navbar-dark bg-steel">
    <a class="navbar-brand" href="/">
      <img
        class="d-inline-flex"
        loading="lazy"
        src="/images/logo.png"
        alt="Logo"
        width="70px"
      />
    </a>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link text-body" href="#">Register</a>
    </div>
  </nav>
</header>
