<head>
  <title>Restful API</title>

  <meta charset="utf-8">
  <meta name="robots" content="noindex" />
  <meta name="author" content="Lucio Afonso" />
  <meta name="description" content="My perfect API" />

  <meta name="mobile-web-app-capable" content="yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  />
</head>
